@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.button{
  width: 368px;
  height: 56px;
  border-radius: 12px;
  background-color: rgb(1, 1, 29);
  margin-top: 50px;
} 
.button1{
  width: 85px;
  height: 40px;
  background: #7B6EF6;
  border-radius: 8px;
  border: none;
}
.button2{
  width: 85px;
  height: 40px;
  border-radius: 8px;
  color: grey;
  border: none;
  background-color:rgb(1, 1, 29) ;
}

.button3{
  width: 85px;
  height: 40px;
  border-radius: 8px;
  color: grey;
  border: none;
  background-color:rgb(1, 1, 29) ;
}
.app-container1 {
  width: 1400px;
  margin: auto;
  /* border: 1px solid pink; */
 
}
body{
  background-color:rgb(1, 1, 46);
}

.input{
  border-radius: 13px;
  width: 344px;
  height: 64px;
  border: 1px solid gray;
  margin: auto;
  align-items: center;
  padding-left: 50px;
  background-color: rgb(1, 1, 29);
  color: white;
  
  
  
}
.black{
 width: 24px;
 height: 24px;
 color: gray ;

}
.blue{
  font-weight: 600;
  font-size: 64px;
  color: white;
  margin-top: 100px;
}
.blue1{
  font-weight: 600;
  font-size: 16px;
  color: gray;
  
}

.app-container{
  width: 1400px;
  width: 1400px;
  background-color:#040917ef;
  margin: auto;

}
.red{
  display: flex;
  margin-left: 40px;
 
}
.red1{
  margin-left: 780px;
  margin-right: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #A8AEBF;
}
.red2{
  margin-right: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #A8AEBF;
}
.red3{
  font-weight: 600;
  font-size: 16px;
  margin-right: 20px;
  color: #A8AEBF;
}